.movie{
    background-color: rgb(255, 255, 255);
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 18px;
    color: #f1f1f1;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    grid-gap: 20px;
    text-decoration: none;
    /* color: inherit; */
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0,0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.25);
    transition: 0.7s;

}
.movie:hover{
    background-color: #d8d8d8;
    color:#f1f1f1;
    

}
.movie:hover ~ .movie__title a .movie__genres li,
.movie__year{
    color:#f1f1f1;
}
.movie__img{
    position: relative;
    top: -50px;
    max-width: 150px;
    border-radius: 18px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0,0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.25);
    transition: 0.7s;

}
.movie__img:hover{
    transform: translate(0px, -20px);
    
}

.movie__title,
.movie__year{
    margin: 0;
    font-weight: 300;
    text-decoration: none;

}

.movie__title a{
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c82e4;
    text-decoration: none;
    font-weight: bold;
}

.movie__genres{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
    letter-spacing:1.2px;

}

.movie__synopsis{
    color:rgb(88, 88, 88);
}


.movie__genres p,
.movie__year{
    margin-right: 10px;
    font-size: 14px;
    color: #025fc9d5;
    font-weight: bolder;

}