.main {
  background-color: rgb(255, 255, 255);
  margin-bottom: 70px;
  border-radius: 18px;
  text-decoration: none;
  padding: 20px;
  transition: 0.7s;
  font-weight: 300;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.25);
}

.main:hover {
  background-color: #d8d8d8;
}

.detail {
  position: absolute;
  top: 20%;
  z-index: 8;
  bottom: 10%;
  right: 10%;
  left: 10%;
  color: inherit;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  text-decoration: none;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.25);
  font-weight: 300;
}

.detail:hover {
  background-color: #f1f1f1;
}
